img.mario {
    background: #ff4026
}

img.donkey-kong {
    background: #f9da4a
}

img.link {
    background: #1c94c3
}

img.samus {
    background: #353f56
}

img.dark-samus {
    background: #3d395e
}

img.yoshi {
    background: #83cd65
}

img.kirby {
    background: #f2c0c4
}

img.fox {
    background: #307cdf
}

img.pikachu {
    background: #fddd05
}

img.luigi {
    background: #5ea444
}

img.ness {
    background: #de413d
}

img.captain-falcon {
    background: #8e8adc
}

img.jigglypuff {
    background: #f29bf6
}

img.peach {
    background: #f5c9f0
}

img.daisy {
    background: #f0bb2c
}

img.bowser {
    background: #44745e
}

img.ice-climbers {
    background: #a0cafe
}

img.sheik {
    background: #756fd0
}

img.zelda {
    background: #fdeaa4
}

img.dr-mario {
    background: #e86c6d
}

img.pichu {
    background: #dedc1f
}

img.falco {
    background: #69b0de
}

img.marth {
    background: #5da8c8
}

img.lucina {
    background: #7ea6c7
}

img.young-link {
    background: #a5d160
}

img.ganondorf {
    background: #7974a4
}

img.mewtwo {
    background: #927bc5
}

img.roy {
    background: #74b65b
}

img.chrom {
    background: #b4b4cf
}

img.mr-game-and-watch {
    background: #a4a190
}

img.meta-knight {
    background: #5367b0
}

img.pit {
    background: #acdafa
}

img.dark-pit {
    background: #875cbe
}

img.zero-suit-samus {
    background: #205ba4
}

img.wario {
    background: #fee71f
}

img.snake {
    background: #658198
}

img.ike {
    background: #b64f3e
}

img.squirtle, img.ivysaur, img.charizard {
    background: #ffc004
}

img.diddy-kong {
    background: #e05a52
}

img.lucas {
    background: #e06833
}

img.sonic {
    background: #659deb
}

img.king-dedede {
    background: #fce87b
}

img.olimar {
    background: #ccefb0
}

img.lucario {
    background: #b8e3fc
}

img.rob {
    background: #b2b8bd
}

img.toon-link {
    background: #8ce689
}

img.wolf {
    background: #ccc
}

img.villager {
    background: #83a88e
}

img.mega-man {
    background: #86c1e0
}

img.wii-fit-trainer {
    background: #99d481
}

img.rosalina-and-luma {
    background: #98d5cd
}

img.little-mac {
    background: #5d8f72
}

img.greninja {
    background: #5673a5
}

img.mii-brawler, img.mii-swordfighter, img.mii-gunner {
    background: #5dc1e6
}

img.palutena {
    background: #91e5c1
}

img.pac-man {
    background: #fcb541
}

img.robin {
    background: #c387d9
}

img.shulk {
    background: #d5647a
}

img.bowser-jr {
    background: #59bf38
}

img.duck-hunt {
    background: #8c5d3a
}

img.ryu {
    background: #d0504d
}

img.cloud {
    background: #419384
}

img.bayonetta {
    background: #a5a1e0
}

img.corrin {
    background: #63a7c0
}

img.inkling {
    background: #f02d7d
}

img.ridley {
    background: #71456f
}

img.simon {
    background: #76150e
}

img.richter {
    background: #2a6db0
}

img.king-k-rool {
    background: #65873b
}

img.isabelle {
    background: #c4d37e;
}

img.ken {
    background: #cdd7dc;
}

img.incineroar {
    background: #ffd902;
}

img.piranha-plant {
    background: #00aa82;
}

img.joker {
    background: #b41201;
}

img.hero {
    background: #ccb3f4;
}

/*----Percent---*/
div.mario {
    border-top: 5px solid #ff4026
}

div.donkey-kong {
    border-top: 5px solid #f9da4a
}

div.link {
    border-top: 5px solid #1c94c3
}

div.samus {
    border-top: 5px solid #353f56
}

div.dark-samus {
    border-top: 5px solid #3d395e
}

div.yoshi {
    border-top: 5px solid #83cd65
}

div.kirby {
    border-top: 5px solid #f2c0c4
}

div.fox {
    border-top: 5px solid #307cdf
}

div.pikachu {
    border-top: 5px solid #fddd05
}

div.luigi {
    border-top: 5px solid #5ea444
}

div.ness {
    border-top: 5px solid #de413d
}

div.captain-falcon {
    border-top: 5px solid #8e8adc
}

div.jigglypuff {
    border-top: 5px solid #f29bf6
}

div.peach {
    border-top: 5px solid #f5c9f0
}

div.daisy {
    border-top: 5px solid #f0bb2c
}

div.bowser {
    border-top: 5px solid #44745e
}

div.ice-climbers {
    border-top: 5px solid #a0cafe
}

div.sheik {
    border-top: 5px solid #756fd0
}

div.zelda {
    border-top: 5px solid #fdeaa4
}

div.dr-mario {
    border-top: 5px solid #e86c6d
}

div.pichu {
    border-top: 5px solid #dedc1f
}

div.falco {
    border-top: 5px solid #69b0de
}

div.marth {
    border-top: 5px solid #5da8c8
}

div.lucina {
    border-top: 5px solid #7ea6c7
}

div.young-link {
    border-top: 5px solid #a5d160
}

div.ganondorf {
    border-top: 5px solid #7974a4
}

div.mewtwo {
    border-top: 5px solid #927bc5
}

div.roy {
    border-top: 5px solid #74b65b
}

div.chrom {
    border-top: 5px solid #b4b4cf
}

div.mr-game-and-watch {
    border-top: 5px solid #a4a190
}

div.meta-knight {
    border-top: 5px solid #5367b0
}

div.pit {
    border-top: 5px solid #acdafa
}

div.dark-pit {
    border-top: 5px solid #875cbe
}

div.zero-suit-samus {
    border-top: 5px solid #205ba4
}

div.wario {
    border-top: 5px solid #fee71f
}

div.snake {
    border-top: 5px solid #658198
}

div.ike {
    border-top: 5px solid #b64f3e
}

div.squirtle, div.ivysaur, div.charizard {
    border-top: 5px solid #ffc004
}

div.diddy-kong {
    border-top: 5px solid #e05a52
}

div.lucas {
    border-top: 5px solid #e06833
}

div.sonic {
    border-top: 5px solid #659deb
}

div.king-dedede {
    border-top: 5px solid #fce87b
}

div.olimar {
    border-top: 5px solid #ccefb0
}

div.lucario {
    border-top: 5px solid #b8e3fc
}

div.rob {
    border-top: 5px solid #b2b8bd
}

div.toon-link {
    border-top: 5px solid #8ce689
}

div.wolf {
    border-top: 5px solid #ccc
}

div.villager {
    border-top: 5px solid #83a88e
}

div.mega-man {
    border-top: 5px solid #86c1e0
}

div.wii-fit-trainer {
    border-top: 5px solid #99d481
}

div.rosalina-and-luma {
    border-top: 5px solid #98d5cd
}

div.little-mac {
    border-top: 5px solid #5d8f72
}

div.greninja {
    border-top: 5px solid #5673a5
}

div.mii-brawler, div.mii-swordfighter, div.mii-gunner {
    border-top: 5px solid #5dc1e6
}

div.palutena {
    border-top: 5px solid #91e5c1
}

div.pac-man {
    border-top: 5px solid #fcb541
}

div.robin {
    border-top: 5px solid #c387d9
}

div.shulk {
    border-top: 5px solid #d5647a
}

div.bowser-jr {
    border-top: 5px solid #59bf38
}

div.duck-hunt {
    border-top: 5px solid #8c5d3a
}

div.ryu {
    border-top: 5px solid #d0504d
}

div.cloud {
    border-top: 5px solid #419384
}

div.bayonetta {
    border-top: 5px solid #a5a1e0
}

div.corrin {
    border-top: 5px solid #63a7c0
}

div.inkling {
    border-top: 5px solid #f02d7d
}

div.ridley {
    border-top: 5px solid #71456f
}

div.simon {
    border-top: 5px solid #76150e
}

div.richter {
    border-top: 5px solid #2a6db0
}

div.king-k-rool {
    border-top: 5px solid #65873b
}

div.isabelle {
    border-top: 5px solid #c4d37e;
}

div.ken {
    border-top: 5px solid #cdd7dc;
}

div.incineroar {
    border-top: 5px solid #ffd902;
}

div.piranha-plant {
    border-top: 5px solid #00aa82;
}

div.joker {
    border-top: 5px solid #b41201;
}

div.hero {
    border-top: 5px solid #ccb3f4;
}