.mario {
    background: #ff4026
}

.donkey-kong {
    background: #f9da4a
}

.link {
    background: #1c94c3
}

.samus {
    background: #353f56
}

.dark-samus {
    background: #3d395e
}

.yoshi {
    background: #83cd65
}

.kirby {
    background: #f2c0c4
}

.fox {
    background: #307cdf
}

.pikachu {
    background: #fddd05
}

.luigi {
    background: #5ea444
}

.ness {
    background: #de413d
}

.captain-falcon {
    background: #8e8adc
}

.jigglypuff {
    background: #f29bf6
}

.peach {
    background: #f5c9f0
}

.daisy {
    background: #f0bb2c
}

.bowser {
    background: #44745e 
}

.ice-climbers {
    background: #a0cafe
}

.sheik {
    background: #756fd0
}

.zelda {
    background: #fdeaa4
}

.dr-mario {
    background: #e86c6d
}

.pichu {
    background: #dedc1f
}

.falco {
    background: #69b0de
}

.marth {
    background: #5da8c8
}

.lucina {
    background: #7ea6c7
}

.young-link {
    background: #a5d160
}

.ganondorf {
    background: #7974a4
}

.mewtwo {
    background: #927bc5
}

.roy {
    background: #74b65b
}

.chrom {
    background: #b4b4cf
}

.mr-game-and-watch {
    background: #a4a190
}

.meta-knight {
    background: #5367b0
}

.pit {
    background: #acdafa
}

.dark-pit {
    background: #875cbe
}

.zero-suit-samus {
    background: #205ba4
}

.wario {
    background: #fee71f
}

.snake {
    background: #658198
}

.ike {
    background: #b64f3e
}

.squirtle, .ivysaur, .charizard {
    background: #ffc004
}

.diddy-kong {
    background: #e05a52
}

.lucas {
    background: #e06833
}

.sonic {
    background: #659deb
}

.king-dedede {
    background: #fce87b
}

.olimar {
    background: #ccefb0
}

.lucario {
    background: #b8e3fc
}

.rob {
    background: #b2b8bd
}

.toon-link {
    background: #8ce689
}

.wolf {
    background: #ccc
}

.villager {
    background: #83a88e
}

.mega-man {
    background: #86c1e0
}

.wii-fit-trainer {
    background: #99d481
}

.rosalina-and-luma {
    background: #98d5cd
}

.little-mac {
    background: #5d8f72
}

.greninja {
    background: #5673a5
}

.mii-brawler, .mii-swordfighter, .mii-gunner {
    background: #5dc1e6
}

.palutena {
    background: #91e5c1
}

.pac-man {
    background: #fcb541
}

.robin {
    background: #c387d9
}

.shulk {
    background: #d5647a
}

.bowser-jr {
    background: #59bf38
}

.duck-hunt {
    background: #8c5d3a
}

.ryu {
    background: #d0504d
}

.cloud {
    background: #419384
}

.bayonetta {
    background: #a5a1e0
}

.corrin {
    background: #63a7c0
}

.inkling {
    background: #f02d7d
}

.ridley {
    background: #71456f
}

.simon {
    background: #76150e
}

.richter {
    background: #2a6db0
}

.king-k-rool {
    background: #65873b
}